.tours/**
.vscode/**
src/**
.gitignore
.space
package.lock.json
tsconfig.json
webpack.config.js
**/*.vsix
.git/**
.github/**
**/*.svg
test_qd/**
test/**
vitest.config.ts
tsconfig.test.json
.vscode-test.mjs